<header class="absolute inset-x-0 top-0 z-50" data-controller="menu">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to root_path, class: "-m-1.5 p-1.5" do %>
        <span class="sr-only">Reel Picks</span>
        <%= image_tag "film_icon.svg", class: "h-8 w-auto" %>
      <% end %>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-stone-400" data-action="click->menu#show">
        <span class="sr-only">Open main menu</span>
        <svg class="size-6 fill-current" aria-hidden="true" data-slot="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M0 88C0 74.7 10.7 64 24 64l400 0c13.3 0 24 10.7 24 24s-10.7 24-24 24L24 112C10.7 112 0 101.3 0 88zM0 248c0-13.3 10.7-24 24-24l400 0c13.3 0 24 10.7 24 24s-10.7 24-24 24L24 272c-13.3 0-24-10.7-24-24zM448 408c0 13.3-10.7 24-24 24L24 432c-13.3 0-24-10.7-24-24s10.7-24 24-24l400 0c13.3 0 24 10.7 24 24z"/></svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <%= link_to "Contests", contests_path, class: "text-sm/6 font-semibold text-white" %>
      <a href="#" class="text-sm/6 font-semibold text-white">Rules</a>
      <a href="#" class="text-sm/6 font-semibold text-white">About</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <% if authenticated? %>
        <%= button_to session_path, method: :delete, class: "text-sm/6 font-semibold text-white" do %>
          <%= Current.user.name.familiar %> | Log out <span aria-hidden="true">&rarr;</span>
        <% end %>
      <% else %>
        <%= link_to new_session_path, class: "text-sm/6 font-semibold text-white" do %>
          Log in <span aria-hidden="true">&rarr;</span>
        <% end %>
      <% end %>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="hidden" role="dialog" aria-modal="true" data-menu-target="menu">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-stone-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Reel Picks</span>
          <%= image_tag "film_icon.svg", class: "h-8 w-auto" %>
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-stone-400" data-action="click->menu#hide">
          <span class="sr-only">Close menu</span>
          <svg class="size-6 fill-current" aria-hidden="true" data-slot="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z"/></svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-stone-500/25">
          <div class="space-y-2 py-6">
            <%= link_to "Contests", contests_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-stone-800", data: {action: "click->menu#hide"} %>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-stone-800" data-action="click->menu#hide">Rules</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-stone-800" data-action="click->menu#hide">About</a>
          </div>
          <div class="py-6">
            <% if authenticated? %>
              <%= button_to "Log out", session_path, method: :delete, class: "-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-white hover:bg-stone-800", data: {action: "click->menu#hide"} %>
            <% else %>
              <%= link_to "Log in", new_session_path, class: "-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-white hover:bg-stone-800", data: {action: "click->menu#hide"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
