<nav class="bg-stone-800" data-controller="mobile-menu">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="shrink-0">
          <%= image_tag "film_icon.svg", class: "size-8", alt: "Reel Picks" %>
        </div>
        <div class="hidden md:block">
          <div class="flex items-baseline ml-10 space-x-4">
            <!-- Current: "bg-stone-900 text-white", Default: "text-stone-300 hover:bg-stone-700 hover:text-white" -->
            <%= link_to "Home", root_path, class: "rounded-md px-3 py-2 text-sm font-medium text-stone-300 hover:bg-stone-700 hover:text-white" %>
            <%= link_to "Contests", contests_path, class: ["rounded-md px-3 py-2 text-sm font-medium", {"bg-stone-900 text-white": current_page?(controller: "contests"), "text-stone-300 hover:bg-stone-700 hover:text-white": !current_page?(controller: "contests")}] %>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="flex items-center ml-4 md:ml-6">
          <button type="button" class="relative p-1 rounded-full text-stone-400 bg-stone-800 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-stone-800 focus:outline-hidden">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View notifications</span>
            <svg class="fill-current size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M208 16c0-8.8 7.2-16 16-16s16 7.2 16 16l0 16.8c80.9 8 144 76.2 144 159.2l0 29.1c0 43.7 17.4 85.6 48.3 116.6l2.8 2.8c8.3 8.3 13 19.6 13 31.3c0 24.5-19.8 44.3-44.3 44.3L44.3 416C19.8 416 0 396.2 0 371.7c0-11.7 4.7-23 13-31.3l2.8-2.8C46.6 306.7 64 264.8 64 221.1L64 192c0-83 63.1-151.2 144-159.2L208 16zm16 48C153.3 64 96 121.3 96 192l0 29.1c0 52.2-20.7 102.3-57.7 139.2L35.6 363c-2.3 2.3-3.6 5.4-3.6 8.7c0 6.8 5.5 12.3 12.3 12.3l359.4 0c6.8 0 12.3-5.5 12.3-12.3c0-3.3-1.3-6.4-3.6-8.7l-2.8-2.8c-36.9-36.9-57.7-87-57.7-139.2l0-29.1c0-70.7-57.3-128-128-128zM193.8 458.7c4.4 12.4 16.3 21.3 30.2 21.3s25.8-8.9 30.2-21.3c2.9-8.3 12.1-12.7 20.4-9.8s12.7 12.1 9.8 20.4C275.6 494.2 251.9 512 224 512s-51.6-17.8-60.4-42.7c-2.9-8.3 1.4-17.5 9.8-20.4s17.5 1.4 20.4 9.8z"/></svg>
          </button>

          <!-- Profile dropdown -->
          <div class="relative ml-3" data-controller="dropdown">
            <div>
              <button type="button" class="relative flex items-center max-w-xs text-sm text-white rounded-full bg-stone-800 focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-stone-800 focus:outline-hidden" id="user-menu-button" aria-expanded="false" aria-haspopup="true" data-action="dropdown#toggle click@window->dropdown#hide">
                <span class="absolute -inset-1.5"></span>
                <span class="sr-only">Open user menu</span>
                <% if Current.user.avatar.attached? %>
                  <%= image_tag Current.user.avatar.variant(resize_to_fill: [32, 32]), class: "size-8 rounded-full" %>
                <% else %>
                  <svg class="size-8 fill-stone-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path class="fa-secondary" opacity=".4" d="M32 256c0 63 26 119.9 67.9 160.6c14-55.5 64.3-96.6 124.1-96.6l64 0c59.9 0 110.1 41.1 124.1 96.6C454 375.9 480 319 480 256C480 132.3 379.7 32 256 32S32 132.3 32 256zm304-48a80 80 0 1 1 -160 0 80 80 0 1 1 160 0z"/><path class="fa-primary" d="M412.1 416.6C398.1 361.1 347.9 320 288 320l-64 0c-59.9 0-110.1 41.1-124.1 96.6C58 375.9 32 319 32 256C32 132.3 132.3 32 256 32s224 100.3 224 224c0 63-26 119.9-67.9 160.6zm-28.5 23.4C347.5 465.2 303.5 480 256 480s-91.5-14.8-127.7-39.9c4-49.3 45.3-88.1 95.7-88.1l64 0c50.4 0 91.6 38.8 95.7 88.1zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-256a48 48 0 1 1 0-96 48 48 0 1 1 0 96zm-80-48a80 80 0 1 0 160 0 80 80 0 1 0 -160 0z"/></svg>
                <% end %>
              </button>
            </div>

            <!--
              Dropdown menu, show/hide based on menu state.

              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            <div class="absolute right-0 z-10 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black/5 focus:outline-hidden"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              tabindex="-1"
              data-dropdown-target="menu"
              data-transition-enter-active="transition ease-out duration-100"
              data-transition-enter-from="transform opacity-0 scale-95"
              data-transition-enter-to="transform opacity-100 scale-100"
              data-transition-leave-active="transition ease-in duration-75"
              data-transition-leave-from="transform opacity-100 scale-100"
              data-transition-leave-to="transform opacity-0 scale-95">
              <!-- Active: "bg-stone-100 outline-none", Not Active: "" -->
              <%= link_to "Your profile", edit_user_path(Current.user), class: "block px-4 py-2 text-sm text-stone-700", role: "menuitem", tabindex: -1, id: "user-menu-item-0" %>
              <a href="#" class="block px-4 py-2 text-sm text-stone-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
              <%= button_to "Sign out", session_path, class: "block px-4 py-2 text-sm text-stone-700", role: "menuitem", tabindex: -1, id: "user-menu-item-2", method: :delete %>
            </div>
          </div>
        </div>
      </div>
      <div class="flex -mr-2 md:hidden">
        <!-- Mobile menu button -->
        <button type="button" class="relative inline-flex items-center justify-center p-2 rounded-md bg-stone-800 text-stone-400 hover:bg-stone-700 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-stone-800 focus:outline-hidden" aria-controls="mobile-menu" aria-expanded="false" data-action="click->mobile-menu#toggle">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!-- Menu open: "hidden", Menu closed: "block" -->
          <svg class="block fill-current size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" data-slot="icon" data-mobile-menu-target="menuButton"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M0 88C0 74.7 10.7 64 24 64l400 0c13.3 0 24 10.7 24 24s-10.7 24-24 24L24 112C10.7 112 0 101.3 0 88zM0 248c0-13.3 10.7-24 24-24l400 0c13.3 0 24 10.7 24 24s-10.7 24-24 24L24 272c-13.3 0-24-10.7-24-24zM448 408c0 13.3-10.7 24-24 24L24 432c-13.3 0-24-10.7-24-24s10.7-24 24-24l400 0c13.3 0 24 10.7 24 24z"/></svg>
          <!-- Menu open: "block", Menu closed: "hidden" -->
          <svg class="hidden fill-current size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" aria-hidden="true" data-slot="icon" data-mobile-menu-target="closeButton"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z"/></svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="mobile-menu" data-mobile-menu-target="menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <!-- Current: "bg-stone-900 text-white", Default: "text-stone-300 hover:bg-stone-700 hover:text-white" -->
      <%= link_to "Home", root_path, class: "block rounded-md px-3 py-2 text-base font-medium text-stone-300 hover:bg-stone-700 hover:text-white" %>
      <%= link_to "Contests", contests_path, class: ["block rounded-md px-3 py-2 text-base font-medium", {"bg-stone-900 text-white": current_page?(controller: "contests"), "text-stone-300 hover:bg-stone-700 hover:text-white": !current_page?(controller: "contests")}] %>
    </div>
    <div class="pt-4 pb-3 border-t border-stone-700">
      <div class="flex items-center px-5">
        <div class="shrink-0">
          <img class="rounded-full size-10" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </div>
        <div class="ml-3">
          <div class="text-base font-medium text-white"><%= Current.user.name %></div>
          <div class="text-sm font-medium text-stone-400"><%= Current.user.email_address %></div>
        </div>
        <button type="button" class="relative p-1 ml-auto rounded-full shrink-0 bg-stone-800 text-stone-400 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-stone-800 focus:outline-hidden" data-action="click->mobile-menu#hide">
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">View notifications</span>
          <svg class="fill-current size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M208 16c0-8.8 7.2-16 16-16s16 7.2 16 16l0 16.8c80.9 8 144 76.2 144 159.2l0 29.1c0 43.7 17.4 85.6 48.3 116.6l2.8 2.8c8.3 8.3 13 19.6 13 31.3c0 24.5-19.8 44.3-44.3 44.3L44.3 416C19.8 416 0 396.2 0 371.7c0-11.7 4.7-23 13-31.3l2.8-2.8C46.6 306.7 64 264.8 64 221.1L64 192c0-83 63.1-151.2 144-159.2L208 16zm16 48C153.3 64 96 121.3 96 192l0 29.1c0 52.2-20.7 102.3-57.7 139.2L35.6 363c-2.3 2.3-3.6 5.4-3.6 8.7c0 6.8 5.5 12.3 12.3 12.3l359.4 0c6.8 0 12.3-5.5 12.3-12.3c0-3.3-1.3-6.4-3.6-8.7l-2.8-2.8c-36.9-36.9-57.7-87-57.7-139.2l0-29.1c0-70.7-57.3-128-128-128zM193.8 458.7c4.4 12.4 16.3 21.3 30.2 21.3s25.8-8.9 30.2-21.3c2.9-8.3 12.1-12.7 20.4-9.8s12.7 12.1 9.8 20.4C275.6 494.2 251.9 512 224 512s-51.6-17.8-60.4-42.7c-2.9-8.3 1.4-17.5 9.8-20.4s17.5 1.4 20.4 9.8z"/></svg>
        </button>
      </div>
      <div class="px-2 mt-3 space-y-1">
        <%= link_to "Your profile", edit_user_path(Current.user), class: "block rounded-md px-3 py-2 text-base font-medium text-stone-400 hover:bg-stone-700 hover:text-white", data: {action: "click->mobile-menu#hide"} %>
        <a href="#" class="block px-3 py-2 text-base font-medium rounded-md text-stone-400 hover:bg-stone-700 hover:text-white" data-action="click->mobile-menu#hide">Settings</a>
        <%= button_to "Sign out", session_path, class: "block rounded-md px-3 py-2 text-base font-medium text-stone-400 hover:bg-stone-700 hover:text-white", method: :delete, data: {action: "click->mobile-menu#hide"} %>
      </div>
    </div>
  </div>
</nav>
