<nav class="bg-stone-800" data-controller="mobile-menu">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="mr-2 -ml-2 flex items-center md:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-stone-400 hover:bg-stone-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false" data-action="mobile-menu#toggle">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block size-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" data-slot="icon" data-mobile-menu-target="openMenuButton"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M0 88C0 74.7 10.7 64 24 64l400 0c13.3 0 24 10.7 24 24s-10.7 24-24 24L24 112C10.7 112 0 101.3 0 88zM0 248c0-13.3 10.7-24 24-24l400 0c13.3 0 24 10.7 24 24s-10.7 24-24 24L24 272c-13.3 0-24-10.7-24-24zM448 408c0 13.3-10.7 24-24 24L24 432c-13.3 0-24-10.7-24-24s10.7-24 24-24l400 0c13.3 0 24 10.7 24 24z"/></svg>
            <!--
              Icon when menu is open.

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden size-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" aria-hidden="true" data-slot="icon" data-mobile-menu-target="closeMenuButton"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z"/></svg>
          </button>
        </div>
        <div class="flex shrink-0 items-center">
          <%= link_to root_path do %>
            <%= image_tag "film_icon.svg", class: "h-8 w-auto", alt: "Reel Picks" %>
          <% end %>
        </div>
        <div class="hidden md:ml-6 md:flex md:items-center md:space-x-4">
          <!-- Current: "bg-stone-900 text-white", Default: "text-stone-300 hover:bg-stone-700 hover:text-white" -->
          <%= link_to "Contests", contests_path, class: ["rounded-md px-3 py-2 text-sm font-medium", {"bg-stone-900 text-white": current_page?(contests_path), "text-stone-300 hover:bg-stone-700 hover:text-white": !current_page?(contests_path)}] %>
          <%= link_to "Rules", nil, class: ["rounded-md px-3 py-2 text-sm font-medium", {"bg-stone-900 text-white": false, "text-stone-300 hover:bg-stone-700 hover:text-white": true}] %>
        </div>
      </div>
      <div class="flex items-center">
        <% if authenticated? %>
          <div class="shrink-0">
            <%= link_to new_contest_path, class: "relative inline-flex items-center gap-x-1.5 rounded-md bg-rose-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-rose-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-500" do %>
              <svg class="-ml-0.5 size-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" aria-hidden="true" data-slot="icon"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M248 72c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 160L40 232c-13.3 0-24 10.7-24 24s10.7 24 24 24l160 0 0 160c0 13.3 10.7 24 24 24s24-10.7 24-24l0-160 160 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-160 0 0-160z"/></svg>
              New Contest
            <% end %>
          </div>
          <div class="hidden md:ml-4 md:flex md:shrink-0 md:items-center">
            <!-- Profile dropdown -->
            <div class="relative ml-3" data-controller="dropdown">
              <div>
                <button type="button" class="relative flex rounded-full bg-stone-800 text-sm focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-stone-800 focus:outline-hidden" id="user-menu-button" aria-expanded="false" aria-haspopup="true" data-action="dropdown#toggle click@window->dropdown#hide">
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">Open user menu</span>
                  <%= avatar size: 8 %>
                </button>
              </div>

              <!--
                Dropdown menu, show/hide based on menu state.

                Entering: "transition ease-out duration-100"
                  From: "transform opacity-0 scale-95"
                  To: "transform opacity-100 scale-100"
                Leaving: "transition ease-in duration-75"
                  From: "transform opacity-100 scale-100"
                  To: "transform opacity-0 scale-95"
              -->
              <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-stone-100 rounded-md bg-white ring-1 shadow-lg ring-black/5 focus:outline-hidden"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="menu-button"
                tabindex="-1"
                data-dropdown-target="menu"
                data-transition-enter-active="transition ease-out duration-100"
                data-transition-enter-from="transform opacity-0 scale-95"
                data-transition-enter-to="transform opacity-100 scale-100"
                data-transition-leave-active="transition ease-in duration-75"
                data-transition-leave-from="transform opacity-100 scale-100"
                data-transition-leave-to="transform opacity-0 scale-95">
                <div class="px-4 py-3" role="none">
                  <p class="truncate text-xs text-stone-500" role="none">Signed in as</p>
                  <p class="truncate text-sm font-medium text-stone-900" role="none"><%= Current.user.email_address %></p>
                </div>
                <div class="py-1" role="none">
                  <!-- Active: "bg-stone-100 text-stone-900 outline-hidden", Not Active: "text-stone-700" -->
                  <%= link_to edit_user_path(Current.user), class: "group flex items-center px-4 py-2 text-sm text-stone-700 hover:bg-stone-100 hover:text-stone-900 hover:outline-hidden", role: "menuitem", tabindex: "-1", id: "menu-item-0", data: {action: "dropdown#toggle"} do %>
                    <svg class="mr-3 size-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M320 128a96 96 0 1 0 -192 0 96 96 0 1 0 192 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM32 480l384 0c-1.2-79.7-66.2-144-146.3-144l-91.4 0c-80 0-145 64.3-146.3 144zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z"/></svg>
                    Your profile
                  <% end %>
                </div>
                <div class="py-1" role="none">
                  <%= button_to session_path, method: :delete, class: "group flex items-center w-full px-4 py-2 text-sm text-stone-700 hover:bg-stone-100 hover:text-stone-900 hover:outline-hidden cursor-pointer", data: {action: "dropdown#toggle"} do %>
                    <svg class="mr-3 size-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Pro 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2025 Fonticons, Inc.--><path d="M479.2 254.2c.5 .5 .8 1.1 .8 1.8s-.3 1.4-.8 1.8L347.3 382.2c-1.2 1.2-2.9 1.8-4.6 1.8c-3.7 0-6.7-3-6.7-6.7l0-57.3c0-8.8-7.2-16-16-16l-120 0c-4.4 0-8-3.6-8-8l0-80c0-4.4 3.6-8 8-8l120 0c8.8 0 16-7.2 16-16l0-57.3c0-3.7 3-6.7 6.7-6.7c1.7 0 3.3 .7 4.6 1.8L479.2 254.2zM512 256c0-9.5-3.9-18.6-10.8-25.1L369.2 106.5C362 99.8 352.5 96 342.7 96c-21.4 0-38.7 17.3-38.7 38.7l0 41.3-104 0c-22.1 0-40 17.9-40 40l0 80c0 22.1 17.9 40 40 40l104 0 0 41.3c0 21.4 17.3 38.7 38.7 38.7c9.9 0 19.4-3.8 26.5-10.5L501.2 281.1c6.9-6.5 10.8-15.6 10.8-25.1zM176 64c8.8 0 16-7.2 16-16s-7.2-16-16-16L80 32C35.8 32 0 67.8 0 112L0 400c0 44.2 35.8 80 80 80l96 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-96 0c-26.5 0-48-21.5-48-48l0-288c0-26.5 21.5-48 48-48l96 0z"/></svg>
                    Sign out
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="mobile-menu" data-mobile-menu-target="menu">
    <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
      <!-- Current: "bg-stone-900 text-white", Default: "text-stone-300 hover:bg-stone-700 hover:text-white" -->
      <%= link_to "Contests", contests_path, class: ["block rounded-md px-3 py-2 text-base font-medium", {"bg-stone-900 text-white": current_page?(contests_path), "text-stone-300 hover:bg-stone-700 hover:text-white": !current_page?(contests_path)}] %>
      <%= link_to "Rules", nil, class: ["block rounded-md px-3 py-2 text-base font-medium", {"bg-stone-900 text-white": false, "text-stone-300 hover:bg-stone-700 hover:text-white": true}] %>
    </div>
    <% if authenticated? %>
      <div class="border-t border-stone-700 pt-4 pb-3">
        <div class="flex items-center px-5 sm:px-6">
          <div class="shrink-0">
            <%= avatar size: 10 %>
          </div>
          <div class="ml-3">
            <div class="text-base font-medium text-white"><%= Current.user.name %></div>
            <div class="text-sm font-medium text-stone-400"><%= Current.user.email_address %></div>
          </div>
          <!-- <button type="button" class="relative ml-auto shrink-0 rounded-full bg-stone-800 p-1 text-stone-400 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-stone-800 focus:outline-hidden">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View notifications</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
            </svg>
          </button> -->
        </div>
        <div class="mt-3 space-y-1 px-2 sm:px-3">
          <%= link_to "Your Profile", edit_user_path(Current.user), class: "block rounded-md px-3 py-2 text-base font-medium text-stone-400 hover:bg-stone-700 hover:text-white" %>
          <!-- <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-stone-400 hover:bg-stone-700 hover:text-white">Settings</a> -->
          <%= button_to "Sign out", session_path, method: :delete, class: "block rounded-md px-3 py-2 text-base font-medium text-stone-400 hover:bg-stone-700 hover:text-white" %>
        </div>
      </div>
    <% end %>
  </div>
</nav>
